.g-developing {
  display: flex;
  flex-direction: column;
  align-items: center;

  .g-developing-icon {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: -20px;
    background: url('../images/common/icon_developing.svg') no-repeat center/100% 100%;
  }

  .g-developing-tit,
  .g-developing-txt {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--theme-blue);
  }

  .g-developing-txt {
    font-size: 12px;
    margin-top: 20px;
    opacity: .5;
  }
}