.p-certificates {
  .certificate-list {
    margin-top: 28px;
  }

  .ant-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    width: 49%;
    cursor: pointer;
    border: 1px solid rgba(28, 158, 84, .5);
    border: 1px solid #f0f0f0;
    /*
    border: 1px solid rgba(226, 85, 56, 1);
    border: 1px solid rgba(213, 171, 27, 1);
    */
    border-radius: 8px;
    background: rgba(29, 41, 54, .1);
    /* background: rgba(249, 231, 148, .3); */
    background: rgba(0, 0, 0, .02);
    /* background: rgba(28, 158, 84,.1); */
    background-clip: padding-box;
    margin: 0 2% 24px 0;

    &:hover {
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    }
  }

  .ant-card-body .certificate:nth-child(2n) {
    margin-right: 0;
  }

  .certificate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(28, 158, 84,.3);
    border-bottom: 1px solid #f0f0f0;
  }

  .certificate-title {
    position: relative;
    font-size: 14px;
    font-weight: bold;
  }

  .certificate-main {
    display: flex;
    flex: 1;
    background: #fff;
  }

  .certificate-img-frame {
    display: block;
    width: 38%;
  }

  .certificate-info {
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .certificate-info-row {
    display: block;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .certificate-info-content {
    padding-left: 15px;
  }

  .ant-image {
    width: 100%;
    height: 100%;
  }

  .ant-image .ant-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .certificate-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
    /* background: rgba(226, 85, 56, 1); */
  }

  .certificate-tool .anticon {
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 0;
    border-right: 1px solid #f0f0f0;
  }

  .certificate-tool .anticon:last-child {
    border-right: none;
  }
}